// 按键边框隐藏
* {
  outline: none;
}
// 隐藏滚动条类
.scrollbar-hidden,
html {
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE10+
  &::-webkit-scrollbar {
    display: none; // Chrome,Safari
  }
}
// 正在播放歌曲项的样式
.playItem {
  color: #f4511e;
}
// 路由动画，src\plugins\vuetify中导入可在组件的transition属性或直接当标签使用
.router-transition {
  &-enter {
    opacity: 0;
  }
  &-leave {
    display: none;
  }
  &-enter-active {
    transition: all 1.5s;
  }
}
